# env
.env

# dataset
touristAttractions.csv

# tools
agents/tools/flights_finder.py
agents/tools/hotels_finder.py

# model
ollama-modelfile/llama-3-Korean-Bllossom-8B/llama-3-Korean-Bllossom-8B.Q5_K_M.gguf